html,
body {
    font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto",
        Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
* {
    font-family: inherit;
    box-sizing: border-box;
}
body {
    height: 100vh;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    display: none;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 520px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 16px;
    flex-direction: column;
}

#message {
    flex: 1 1;
    font-size: 1.2rem;
}

#user-info {
    font-size: 1.2rem;
}

button {
    width: 100%;
    padding: 1.1875rem 1.4375rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background: #ffffff;
    border: 1px solid #d9d9d9;
}

button:disabled {
    cursor: not-allowed;
}

button:active {
    background-color: #d9d9d9;
}

#login-btn {
    background: #0000ff;
    color: #ffffff;
}

#login-btn:active {
    background-color: #000099;
    border-color: #000099;
}

#login-btn:disabled {
    background-color: #99f;
    color: hsl(0deg 0% 100% / 40%);
}

#logout-btn {
    margin-top: 1rem;
}

input {
    display: block;
    width: 100%;
    height: 3.5rem;
    line-height: 1.25;
    font-size: 1rem;
    margin: 0;
    padding: 0 0.6875rem;
    box-shadow: none;
    outline: none;
    border: none;
    border: 0.0625rem solid #666;
    border-radius: 0.25rem;
    background-image: none;
    background-color: transparent;
    cursor: text;
}

input:focus {
    border-color: #0000ff;
}

form {
    width: 100%;
}
